table {
    border-collapse: collapse;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
    vertical-align: top;
}

td div {
    margin-top: 5px;
    padding: 2px;
    background: #f9f9f9;
    border: 1px solid #ddd;
}
